.board-content {
    margin-top: 0px;
    box-sizing: content-box;
    padding-bottom: 40px;
    padding-top: 18px;
    padding-left: 16px;

    .board-content-container {
        min-width: 757px;
        box-sizing: content-box;
        padding-right: 30px;
        background-color: #fff;
        border-radius: 8px;

        .border-content-wrapper {
            height: 100%;
            width: 100%;
            outline: none;
            position: relative;
        }
    }
}