.group-header-wrapper.pulse-component-wrapper {
    background-color: white;

    .cell-component {
        border-bottom: none;
        text-transform: capitalize;
        color: #676879;

    }

    .group-title-wrapper {
        background-color: #fff;
    }

    .btn-pulse-menu-wrapper.btn-group-menu-wrapper {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        .btn-group-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            height: 45%;
            width: 50%;
            border-radius: 50%;
            color: white;
        }
    }

    .title-cell.group-header {
        background-color: #fff;

        .drag-btn svg {
            height: 24px;
            display: none;
            color: grey;
            margin-bottom: 5px;
        }

        .group-title-wrapper {
            color: rgb(87, 155, 252);
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            transition: padding .15s;


            .group-title {
                outline: none;

                &:hover {
                    padding: 0 5px;
                    outline: dashed 1px rgb(106, 106, 106);
                }
            }
        }

        &:hover {
            .drag-btn svg {
                cursor: move;
                display: block;
                margin-top: 5px;
            }
        }
    }


    &:hover {
        .group-header-cmp {
            padding: 0 5px;
            transition: padding .15s;
        }

        .drag-btn svg {
            cursor: move;
            display: block;
            margin-top: 5px;
        }
    }
}


.btns-modal {
    width: 240px;
    top: 60%px;
    left: 7px;
    position: absolute;
    z-index: 10000;
    box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;

    .btns-top-modal {
        padding: 3px;

        .btn-modal-top-section {
            cursor: pointer;
            padding: 4px;
            border-radius: 4px;
            color: rgb(50, 51, 56);
            display: flex;
            align-items: center;
            font-size: 14px;
            font-family: Roboto-thin;

            &:hover {
                background-color: #e6e9ef;
            }
        }


    }

    .color-pallete {
        position: absolute;
        box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
        background-color: #fff;
        top: 80%;
        height: 114px;
        width: 140px;

        .color-picker-wraper {
            display: flex;
            flex-wrap: wrap;
            padding: 8px;
            grid-gap: 6px;
            gap: 6px;
            cursor: pointer;

            .color-picker {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: all 0.1s ease-in-out;

                &:hover {
                    filter: grayScale(100%);
                }
            }
        }
    }

    .btns-bottom-modal {
        padding: 3px;

        .btn-modal-color {
            cursor: pointer;
            padding: 4px;
            border-radius: 4px;
            color: rgb(50, 51, 56);
            display: flex;
            align-items: center;
            font-size: 14px;
            font-family: Roboto-thin;

            .color-pick {
                background-color: rgb(87, 155, 252);
                border-radius: 50%;
                width: 10px;
                height: 10px;
            }

            &:hover {
                background-color: #e6e9ef;
            }

        }

        .btn-modal-remove {
            cursor: pointer;
            padding: 4px;
            border-radius: 4px;
            color: rgb(50, 51, 56);
            display: flex;
            align-items: center;
            font-size: 14px;
            font-family: Roboto-thin;

            &:hover {
                background-color: #e6e9ef;
            }
        }
    }
}


.pulse-component-wrapper.group-footer {
    width: 100%;
    z-index: 0;
    background-color: #ffffff;


    .group-footer.pulse-component {
        width: 100%;

        .title-container {}

        .title-cell-component.group-footer {
            width: 280px;
            padding: 0px;
            display: flex;
            background-color: #ffffff;


            .title-component {
                width: 100%;
                height: 100%;
                border: 1px solid rgb(220, 220, 220);
                border-right: none;
                border-top: none;
                line-height: 30px;
            }

            .title-component:focus {
                height: 100%;
                outline: none;
            }
        }

        .footer-spacer {
            width: 100%;
            border: 1px solid rgb(220, 220, 220);
            border-top: none;
            border-left: none;
        }

        .pulse-left-indicator {
            color: rgb(87, 155, 252);
            flex: 0 0 8px;
            height: 100%;
            transition: flex-basis .1s ease-in;
            position: relative;
        }

        .add-task {
            padding-left: 8px;
        }
    }
}

.btn-add-column {
    display: flex;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 13px;
    border: 1px solid #3233386b;
    color: #323338ad;
    background: white;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.border {
    border-bottom: 0.5px solid rgb(221, 222, 231);
    margin: 8px 0px 8px;
}

span {
    font-weight: 400;
    margin: 0;
    font-family: Roboto;
    padding-left: 8px;
}