@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Bold-light;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-light;
    src: url(../../fonts/Roboto/Roboto-Light.ttf)
}

@font-face {
    font-family: Roboto-thin;
    src: url(../../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../../fonts/Poppins-Regular.ttf)
}

@font-face {
    font-family: poppins-medium;
    src: url(../../fonts/Poppins-Medium.ttf)
}

@font-face {
    font-family: poppins-light;
    src: url(../../fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../../fonts/Poppins-Bold.ttf);
}