// COLOR PALETTE

$clr1: #FF521C;
$clr2: rgb(237, 186, 186);
$clr3: #fff;
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;
$clr6: #292f4c;
// $clr7:

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;